[Desktop Entry]
Version=2
Name=Sunswitch!
Comment=Change desktop wallpapers
Icon=/usr/share/app-install/icons/sunswitch-icon.png
Terminal=true
Type=Application
Categories=Application;Programming;Graphic;Setting;
StartupNotify=true
Exec=/usr/bin/sunswitch %U
TryExec=/usr/bin/sunswitch

Actions=Background;GUI

[Desktop Action Background]
Name=RunintheBackground
Exec=sunswitch -b
OnlyShowIn=Unity;
#Icon=/usr/share/doc/sunswitch/sunswitch-icon.png

[Desktop Action GUI]
Name=OpenSettingsDialouge
Exec=sunswitch -s
OnlyShowIn=Unity;
#Icon=/usr/share/doc/sunswitch/sunswitch-settings-icon.png


